graft docs
exclude docs/reference/autosummary/*
graft src
graft ci
graft tests
graft example_configurations
graft testdata
exclude testdata/quickstartdemo1_fitResult.*

include .editorconfig
include .vscode/*.json
include .env
include .pre-commit-config.yaml
include .cookiecutterrc
include tox.ini

include AUTHORS.rst
include CHANGELOG.md
include CONTRIBUTING.rst
include LICENSE
include README.rst

include mcsas3_cli_*.py
include notebooks/*.ipynb

global-exclude *.py[cod] __pycache__/* *.so *.dylib .DS_Store */.ipynb_checkpoints/*
