name: Build

# Controls when the action will run.
on:
  workflow_call:

{% import '.github/workflows/ci-cd.yml' as ci with context %}{# Use some Jinja macros -#}

jobs:
  build:
    # convert this to a matrix if builds differ between platforms
    runs-on: {{'${{ matrix.os }}'}}
    strategy:
      matrix:
        os: ['ubuntu-latest']
    steps:

      {{ ci.checkout() }}

      {{ ci.setup_python() }}

      {{ ci.pip_install_req() }}

      {{ ci.set_version() }}

      - name: Build
        run: tox -e build -v

      - name: Upload package artifact for publishing job
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: dist/*.whl

      - name: Upload source artifact for publishing job
        # upload source package only once
        if: {{"${{ matrix.os == 'ubuntu-latest' }}"}}
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: dist/*.tar.gz

  publish:
    needs: [build]
    runs-on: 'ubuntu-latest'
    steps:

      {{ ci.checkout() }}

      {{ ci.pip_install_req() }}

      - name: Download package artifacts
        uses: actions/download-artifact@v3
        with:
          name: packages
          path: dist

      - name: Check generated packages
        run: twine check dist/*.*

      - name: Upload packages
        env:
          TWINE_PASSWORD: {{'"${{ secrets.TEST_PYPI_TOKEN }}"'}}
        run: |
          twine upload -u __token__ -r testpypi dist/*.*
