# packages required to run tox on the host system
tox
build
toml
python-semantic-release
# provides the *coverage* command to combine and publish coverage data
# generated within tox environments
pytest-cov
